body{
    width : 80;
    margin : auto;
    background-color : #E1F5F2;
}
header{
    text-align : center;
}
nav > ul{
    list-style : none;
    display : flex;
    align-items : center;
    justify-content : center;
    gap : 20px;
}
nav > ul > li > a{
    text-decoration : none;
}
footer{
    text-align : center;
}
.dark-mode{
    background-color : black !important;
    color : white !important;
}